general:
  listen_addr:   0.0.0.0
  listen_port:   8666
  max_workers:   5
  max_requests:  5000
  max_life_time: 3600
  lock_timeout:  60
  charset:       utf-8
  content_type:  'application/json; charset=utf-8'
endpoints:
  'si.corp-ansible':
    plugin: subproc
    config:
      prog: ansible-playbook
      timeout: 3600
  'si.corp-terraform':
    plugin: subproc
    config:
      prog: terraform
      timeout: 3600
modules:
  job:
    routes:
      run:
        handler:   'job_run'
        regexp:    '^run/(?P<endpoint>[^\/]+)/(?P<id>[a-z0-9\-]{8,64})$'
        safe_init: true
        op:        'POST'
      status:
        handler:   'job_status'
        regexp:    '^status/(?P<endpoint>[^\/]+)/(?P<id>[a-z0-9\-]{8,64})$'
        op:        'GET'
